<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi aliquam odit distinctio ea, sit sed deleniti reprehenderit unde odio quisquam totam mollitia! Illum, harum adipisci reprehenderit aliquid vitae accusamus cupiditate!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda commodi debitis nihil veritatis ipsa, corporis reiciendis fugiat tempora architecto earum placeat dolore eos, perferendis ab consequatur ut cumque esse necessitatibus!</p>
    <a href="#" class="btn btn-primary btn-lg">Tasks List</a>
</div>